* { box-sizing: border-box; }

body {
	color: #707070;
	font-size: 30px;
	margin: 85px 137px;
	font-family: 'Segoe UI', 'Helvetica', sans-serif;
}

b {
	color: #474747;
	font-weight: normal;
}

#battery, #greeting, #datetime {
	margin-bottom: 50px;
}

#battery {
	font-size: 20px;
}

#namerow {
	font-size: 50px;
}

#timerow {
	font-size: 40px;
}

#reminders {
	display: block;
	resize: none;
	border: 0;
	width: 50%;
	min-height: 9em;
	background: #f3f3f3;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	margin-top: 15px;
	padding: 20px 25px;
	font-size: 20px;
	font-family: inherit;
	color: #474747;
	outline: none;
	transition: box-shadow 0.2s;
}

#reminders * {
	max-width: 100%;
}

#reminders:focus {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}